Repository aorumbayev/algokit-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test, api-format, api-lint, api-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo-fmt
        description: "Run 'cargo fmt --check' to check Rust formatting"
        entry: cargo fmt
        language: system
        types: [rust]
        args: [--check]
        require_serial: true
        pass_filenames: false
      - id: cargo-clippy
        name: cargo-clippy
        description: "Run 'cargo clippy' for Rust linting with warnings as errors"
        entry: cargo clippy
        language: system
        types: [rust]
        args: [--, -D, warnings]
        require_serial: true
        pass_filenames: false
      - id: cargo-check
        name: cargo-check
        description: "Run 'cargo check' to verify compilation"
        entry: cargo check
        language: system
        types: [rust]
        require_serial: true
        pass_filenames: false
      - id: cargo-check-wasm
        name: cargo-check-wasm
        description: "Run 'cargo check' for WASM features"
        entry: cargo check
        language: system
        types: [rust]
        args: [--no-default-features, --features, ffi_wasm]
        require_serial: true
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        description: "Run 'cargo test' to execute all tests"
        entry: cargo test
        language: system
        types: [rust]
        require_serial: true
        pass_filenames: false
      - id: api-format
        name: api-format
        description: "Format API OAS generator Python code"
        entry: cargo api format-oas
        language: system
        files: ^api/
        require_serial: true
        pass_filenames: false
      - id: api-lint
        name: api-lint
        description: "Run linting and type-checking for API OAS generator"
        entry: cargo api lint-oas
        language: system
        files: ^api/
        require_serial: true
        pass_filenames: false
      - id: api-test
        name: api-test
        description: "Run tests for API OAS generator"
        entry: cargo api test-oas
        language: system
        files: ^api/
        require_serial: true
        pass_filenames: false

chore: asset transfer validation
  crates/algokit_transact/src/transactions/asset_transfer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: asset freeze validation
  crates/algokit_transact/src/transactions/asset_freeze.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: replace test_address with neil
  crates/algokit_transact/src/transactions/asset_config.rs
  crates/algokit_transact/src/transactions/asset_freeze.rs
  crates/algokit_transact/src/transactions/asset_transfer.rs
  crates/algokit_utils/src/transactions/asset_transfer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: relocate tests
  crates/algokit_transact/src/keypair_account.rs
  crates/algokit_transact/src/lib.rs
  crates/algokit_transact/src/multisig.rs
  crates/algokit_transact/src/test_utils/mod.rs
  crates/algokit_transact/src/tests.rs
  crates/algokit_transact/src/transactions/application_call.rs
  crates/algokit_transact/src/transactions/asset_config.rs
  crates/algokit_transact/src/transactions/asset_freeze.rs
  crates/algokit_transact/src/transactions/asset_transfer.rs
  crates/algokit_transact/src/transactions/key_registration.rs
  crates/algokit_transact/src/transactions/mod.rs
  crates/algokit_transact/src/transactions/payment.rs
  packages/python/algokit_transact/pyproject.toml
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: refactor FFI txn types
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_transact_ffi/src/transactions/asset_transfer.rs
  crates/algokit_transact_ffi/src/transactions/key_registration.rs
  crates/algokit_transact_ffi/src/transactions/mod.rs
  crates/algokit_transact_ffi/src/transactions/payment.rs
  packages/python/algokit_transact/tests/test_asset_config.py
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

feat: add resource population support (#225)
  api/oas_generator/rust_oas_generator/templates/models/model.rs.j2
  crates/algod_client/src/models/app_call_logs.rs
  crates/algod_client/src/models/application_state_operation.rs
  crates/algod_client/src/models/avm_key_value.rs
  crates/algod_client/src/models/box_reference.rs
  crates/algod_client/src/models/dryrun_txn_result.rs
  crates/algod_client/src/models/simulation_transaction_exec_trace.rs
  crates/algod_client/src/models/teal_value.rs
  crates/algokit_transact/src/address.rs
  crates/algokit_transact/src/constants.rs
  crates/algokit_transact/src/traits.rs
  crates/algokit_transact/src/transactions/application_call.rs
  crates/algokit_transact/src/utils.rs
  crates/algokit_utils/src/lib.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/tests/contracts/resource_population/ResourcePackerv8.arc32.json
  crates/algokit_utils/tests/contracts/resource_population/ResourcePackerv9.arc32.json
  crates/algokit_utils/tests/transactions/composer/inner_fee_coverage.rs
  crates/algokit_utils/tests/transactions/composer/mod.rs
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
  crates/algokit_utils/tests/transactions/creator.rs
  crates/indexer_client/src/models/application_log_data.rs
  crates/indexer_client/src/models/merkle_array_proof.rs
  crates/indexer_client/src/models/transaction.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test, api-format, api-lint, api-test

chore: rename application call to appcall
  crates/algokit_abi/src/arc56_contract.rs
  crates/algokit_abi/src/method.rs
  crates/algokit_transact/README.md
  crates/algokit_transact/src/lib.rs
  crates/algokit_transact/src/test_utils/app_call.rs
  crates/algokit_transact/src/test_utils/mod.rs
  crates/algokit_transact/src/transactions/app_call.rs
  crates/algokit_transact/src/transactions/mod.rs
  crates/algokit_transact_ffi/polytest.toml
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_transact_ffi/src/transactions/app_call.rs
  crates/algokit_transact_ffi/src/transactions/mod.rs
  crates/algokit_transact_ffi/test_data.json
  crates/algokit_transact_ffi/test_plan.md
  crates/algokit_utils/src/clients/algorand_client.rs
  crates/algokit_utils/src/clients/app_manager.rs
  crates/algokit_utils/src/transactions/app_call.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/creator.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/src/transactions/sender.rs
  crates/algokit_utils/src/transactions/sender_results.rs
  crates/algokit_utils/tests/transactions/composer/app_call.rs
  crates/algokit_utils/tests/transactions/composer/inner_fee_coverage.rs
  crates/algokit_utils/tests/transactions/composer/mod.rs
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
  crates/algokit_utils/tests/transactions/creator.rs
  docs/book/crates/ffi_macros.md
  packages/python/algokit_transact/tests/__init__.py
  packages/python/algokit_transact/tests/test_app_call.py
  packages/typescript/algokit_transact/__tests__/app_call.test.ts
  packages/typescript/algokit_transact/__tests__/common.ts
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: added codeowners file for round robin assignment for code reviews (#240)
  .github/CODEOWNERS
Due: none

feat: add app deployer support (#239)
  api/oas_generator/rust_oas_generator/generator/filters.py
  api/oas_generator/rust_oas_generator/templates/apis/endpoint.rs.j2
  api/scripts/convert-openapi.ts
  api/specs/indexer.oas3.json
  crates/algod_client/src/apis/wait_for_block.rs
  crates/algokit_test_artifacts/contracts/testing_app/application.json
  crates/algokit_test_artifacts/src/lib.rs
  crates/algokit_utils/src/applications/app_deployer.rs
  crates/algokit_utils/src/applications/mod.rs
  crates/algokit_utils/src/clients/app_manager.rs
  crates/algokit_utils/src/lib.rs
  crates/algokit_utils/src/testing/fixture.rs
  crates/algokit_utils/tests/applications/app_deployer.rs
  crates/algokit_utils/tests/applications/mod.rs
  crates/algokit_utils/tests/applications_tests.rs
  crates/algokit_utils/tests/clients/algorand_client.rs
  crates/indexer_client/src/apis/lookup_account_app_local_states.rs
  crates/indexer_client/src/apis/lookup_account_created_applications.rs
  crates/indexer_client/src/apis/lookup_account_created_assets.rs
  crates/indexer_client/src/apis/search_for_block_headers.rs
  crates/indexer_client/src/models/application_params.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test, api-format, api-lint, api-test

chore: fix api oas sync build (#242)
  .github/workflows/api_openapi_sync.yml
Due: none

docs: Native TypeScript vs Uniffi Bindings (#230)
  docs/book/decisions/0001-native-ts-vs-uniffi.md
Due: none

chore: applying some fixes noticed whilst implementing ts transact (#245)
  api/scripts/convert-openapi.ts
  api/specs/algod.oas3.json
  api/specs/indexer.oas3.json
  crates/algod_client/src/models/application_params.rs
  crates/algod_client/src/models/application_state_schema.rs
  crates/algod_client/src/models/eval_delta.rs
  crates/algokit_transact/src/constants.rs
  crates/algokit_transact/src/transactions/app_call.rs
  crates/algokit_transact/src/transactions/mod.rs
  crates/algokit_transact/src/utils.rs
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_transact_ffi/src/transactions/app_call.rs
  crates/algokit_utils/src/applications/app_deployer.rs
  crates/algokit_utils/src/clients/app_manager.rs
  crates/algokit_utils/src/transactions/app_call.rs
  crates/indexer_client/src/models/application_params.rs
  crates/indexer_client/src/models/application_state_schema.rs
  crates/indexer_client/src/models/state_schema.rs
  crates/indexer_client/src/models/transaction_application.rs
  packages/python/algokit_transact/tests/__init__.py
  packages/typescript/algokit_transact/__tests__/common.ts
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test, api-format, api-lint, api-test

chore: add test for double nested app call (#246)
  crates/algokit_utils/tests/transactions/composer/app_call.rs
  crates/algokit_utils/tests/transactions/sender.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

feat: remove wasm_bindgen (#244)
  .github/workflows/ci_cd.yml
  .github/workflows/typescript_ci.yml
  .github/workflows/typescript_wasm_ci_cd.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  crates/algokit_http_client/Cargo.toml
  crates/algokit_http_client/src/lib.rs
  crates/algokit_transact/src/test_utils/mod.rs
  crates/algokit_transact_ffi/Cargo.toml
  crates/algokit_transact_ffi/README.md
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_transact_ffi/src/multisig.rs
  crates/algokit_transact_ffi/src/transactions/app_call.rs
  crates/algokit_transact_ffi/src/transactions/asset_config.rs
  crates/algokit_transact_ffi/src/transactions/key_registration.rs
  crates/algokit_utils/tests/transactions/composer/app_call.rs
  crates/ffi_macros/src/lib.rs
  crates/ffi_mutex/Cargo.toml
  crates/ffi_mutex/src/lib.rs
  docs/book/contributing/contributing_guide.md
  docs/book/crates/algokit_transact_ffi.md
  docs/book/crates/ffi_macros.md
  scripts/sanity.sh
  scripts/test-all.sh
  tools/build_pkgs/src/typescript.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: replace utils CommonTransactionParams with macro
  crates/algokit_utils/src/applications/app_deployer.rs
  crates/algokit_utils/src/clients/asset_manager.rs
  crates/algokit_utils/src/lib.rs
  crates/algokit_utils/src/transactions/app_call.rs
  crates/algokit_utils/src/transactions/asset_config.rs
  crates/algokit_utils/src/transactions/asset_freeze.rs
  crates/algokit_utils/src/transactions/asset_transfer.rs
  crates/algokit_utils/src/transactions/common.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/key_registration.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/src/transactions/payment.rs
  crates/algokit_utils/src/transactions/sender.rs
  crates/algokit_utils/tests/applications/app_deployer.rs
  crates/algokit_utils/tests/clients/asset_manager.rs
  crates/algokit_utils/tests/common/mod.rs
  crates/algokit_utils/tests/indexer/search_applications.rs
  crates/algokit_utils/tests/indexer/search_transactions.rs
  crates/algokit_utils/tests/transactions/composer/app_call.rs
  crates/algokit_utils/tests/transactions/composer/asset_config.rs
  crates/algokit_utils/tests/transactions/composer/asset_freeze.rs
  crates/algokit_utils/tests/transactions/composer/asset_transfer.rs
  crates/algokit_utils/tests/transactions/composer/inner_fee_coverage.rs
  crates/algokit_utils/tests/transactions/composer/key_registration.rs
  crates/algokit_utils/tests/transactions/composer/payment.rs
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
  crates/algokit_utils/tests/transactions/composer/transaction_group.rs
  crates/algokit_utils/tests/transactions/creator.rs
  crates/algokit_utils/tests/transactions/sender.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: simplify add_app_method_call_internal
  crates/algokit_utils/src/transactions/composer.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: additional tweaks whilst implementing TS composer
  crates/algokit_abi/src/error.rs
  crates/algokit_abi/src/method.rs
  crates/algokit_transact/src/address.rs
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_utils/src/applications/app_deployer.rs
  crates/algokit_utils/src/clients/algorand_client.rs
  crates/algokit_utils/src/clients/app_manager.rs
  crates/algokit_utils/src/clients/asset_manager.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/creator.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/src/transactions/sender.rs
  crates/algokit_utils/tests/applications/app_deployer.rs
  crates/algokit_utils/tests/clients/algorand_client.rs
  crates/algokit_utils/tests/clients/asset_manager.rs
  crates/algokit_utils/tests/common/fixture.rs
  crates/algokit_utils/tests/common/mod.rs
  crates/algokit_utils/tests/indexer/search_applications.rs
  crates/algokit_utils/tests/indexer/search_transactions.rs
  crates/algokit_utils/tests/transactions/composer/app_call.rs
  crates/algokit_utils/tests/transactions/composer/asset_config.rs
  crates/algokit_utils/tests/transactions/composer/asset_freeze.rs
  crates/algokit_utils/tests/transactions/composer/asset_transfer.rs
  crates/algokit_utils/tests/transactions/composer/inner_fee_coverage.rs
  crates/algokit_utils/tests/transactions/composer/key_registration.rs
  crates/algokit_utils/tests/transactions/composer/payment.rs
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
  crates/algokit_utils/tests/transactions/composer/transaction_group.rs
  crates/algokit_utils/tests/transactions/creator.rs
  crates/algokit_utils/tests/transactions/sender.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: adjust transaction creator types, as they were previously a bit strange
  crates/algokit_utils/src/lib.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/creator.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/tests/transactions/creator.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: tweaks to both transaction creator and client manager
  crates/algokit_utils/src/clients/algorand_client.rs
  crates/algokit_utils/src/clients/client_manager.rs
  crates/algokit_utils/src/clients/network_client.rs
  crates/algokit_utils/tests/algod/simulate_transactions.rs
  crates/algokit_utils/tests/algod/transaction_params.rs
  crates/algokit_utils/tests/clients/client_manager.rs
  crates/algokit_utils/tests/common/fixture.rs
  crates/algokit_utils/tests/indexer/search_applications.rs
  crates/algokit_utils/tests/indexer/search_transactions.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: tweak the txn validation and add some missing wiring (#255)
  crates/algokit_transact/src/transactions/asset_config.rs
  crates/algokit_transact/src/transactions/asset_freeze.rs
  crates/algokit_transact/src/transactions/asset_transfer.rs
  crates/algokit_transact_ffi/src/transactions/asset_freeze.rs
  crates/algokit_transact_ffi/src/transactions/asset_transfer.rs
  crates/algokit_transact_ffi/src/transactions/key_registration.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

dep: update uniffi to 0.29.4 (#256)
  Cargo.lock
  Cargo.toml
Due: none

fix: go-algorand 4.3.0 access lists adjustments (#259)
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

refactor: convert signer getter to trait
  crates/algokit_utils/src/clients/account_manager.rs
  crates/algokit_utils/src/clients/algorand_client.rs
  crates/algokit_utils/src/transactions/common.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/tests/transactions/composer/resource_population.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

chore: routine regen of oas spec and rust clients for latest 4.3.0 release (#264)
  api/specs/indexer.oas3.json
  crates/indexer_client/README.md
  crates/indexer_client/src/models/block.rs
  crates/indexer_client/src/models/holding_ref.rs
  crates/indexer_client/src/models/locals_ref.rs
  crates/indexer_client/src/models/mod.rs
  crates/indexer_client/src/models/resource_ref.rs
  crates/indexer_client/src/models/transaction_application.rs
  crates/indexer_client/src/models/transaction_signature_logicsig.rs
  crates/indexer_client/src/models/transaction_signature_multisig.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test, api-format, api-lint, api-test

fix: add missing npm ci step to oas cron (#269)
  .github/workflows/api_openapi_sync.yml
Due: none

Refactor transaction sender to match TS implementation (#260)
  crates/algokit_test_artifacts/contracts/abi-create-and-delete/application.arc56.json
  crates/algokit_test_artifacts/contracts/abi-create-and-delete/contract.py
  crates/algokit_test_artifacts/src/lib.rs
  crates/algokit_utils/src/applications/app_client/error.rs
  crates/algokit_utils/src/applications/app_client/error_transformation.rs
  crates/algokit_utils/src/applications/app_client/mod.rs
  crates/algokit_utils/src/applications/app_client/params_builder.rs
  crates/algokit_utils/src/applications/app_client/transaction_sender.rs
  crates/algokit_utils/src/applications/app_client/types.rs
  crates/algokit_utils/src/applications/app_client/utils.rs
  crates/algokit_utils/src/applications/app_deployer.rs
  crates/algokit_utils/src/applications/app_factory/compilation.rs
  crates/algokit_utils/src/applications/app_factory/error.rs
  crates/algokit_utils/src/applications/app_factory/mod.rs
  crates/algokit_utils/src/applications/app_factory/transaction_builder.rs
  crates/algokit_utils/src/applications/app_factory/transaction_sender.rs
  crates/algokit_utils/src/applications/app_factory/types.rs
  crates/algokit_utils/src/applications/app_factory/utils.rs
  crates/algokit_utils/src/clients/algorand_client.rs
  crates/algokit_utils/src/clients/app_manager.rs
  crates/algokit_utils/src/clients/client_manager.rs
  crates/algokit_utils/src/lib.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils/src/transactions/mod.rs
  crates/algokit_utils/src/transactions/sender.rs
  crates/algokit_utils/src/transactions/sender_results.rs
  crates/algokit_utils/tests/applications/app_client/params.rs
  crates/algokit_utils/tests/applications/app_client/send.rs
  crates/algokit_utils/tests/applications/app_deployer.rs
  crates/algokit_utils/tests/applications/app_factory.rs
  crates/algokit_utils/tests/transactions/sender.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

docs: add a basic ts readme with dev workflow (#268)
  packages/typescript/README.md
Due: none

feat: add rs utils ffi composer no app calls (#270)
  .gitignore
  Cargo.lock
  Cargo.toml
  crates/algokit_http_client/src/lib.rs
  crates/algokit_transact_ffi/src/lib.rs
  crates/algokit_transact_ffi/src/transactions/mod.rs
  crates/algokit_utils/src/transactions/common.rs
  crates/algokit_utils/src/transactions/composer.rs
  crates/algokit_utils_ffi/Cargo.toml
  crates/algokit_utils_ffi/src/clients/algod_client.rs
  crates/algokit_utils_ffi/src/clients/mod.rs
  crates/algokit_utils_ffi/src/lib.rs
  crates/algokit_utils_ffi/src/transactions/asset_config.rs
  crates/algokit_utils_ffi/src/transactions/asset_freeze.rs
  crates/algokit_utils_ffi/src/transactions/asset_transfer.rs
  crates/algokit_utils_ffi/src/transactions/common.rs
  crates/algokit_utils_ffi/src/transactions/composer.rs
  crates/algokit_utils_ffi/src/transactions/key_registration.rs
  crates/algokit_utils_ffi/src/transactions/mod.rs
  crates/algokit_utils_ffi/src/transactions/payment.rs
  crates/algokit_utils_ffi/uniffi.toml
  docs/book/contributing/ffi_types.md
  packages/python/algokit_transact/pyproject.toml
  packages/python/algokit_utils/algokit_utils/__init__.py
  packages/python/algokit_utils/algokit_utils/py.typed
  packages/python/algokit_utils/poetry.lock
  packages/python/algokit_utils/poetry.toml
  packages/python/algokit_utils/pyproject.toml
  packages/python/algokit_utils/tests/test_utils.py
  tools/build_pkgs/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test

feat: app method call support in ffi composer (#271)
  crates/algokit_utils/tests/common/fixture.rs
  crates/algokit_utils/tests/kmd/key_management.rs
  crates/algokit_utils/tests/kmd/wallet_lifecycle.rs
  crates/algokit_utils_ffi/src/abi/abi_type.rs
  crates/algokit_utils_ffi/src/abi/abi_value.rs
  crates/algokit_utils_ffi/src/abi/mod.rs
  crates/algokit_utils_ffi/src/lib.rs
  crates/algokit_utils_ffi/src/transactions/app_call.rs
  crates/algokit_utils_ffi/src/transactions/asset_config.rs
  crates/algokit_utils_ffi/src/transactions/asset_freeze.rs
  crates/algokit_utils_ffi/src/transactions/asset_transfer.rs
  crates/algokit_utils_ffi/src/transactions/common.rs
  crates/algokit_utils_ffi/src/transactions/composer.rs
  crates/algokit_utils_ffi/src/transactions/key_registration.rs
  crates/algokit_utils_ffi/src/transactions/mod.rs
  crates/algokit_utils_ffi/src/transactions/payment.rs
  packages/python/algokit_utils/tests/test_utils.py
Due: cargo-fmt, cargo-clippy, cargo-check, cargo-check-wasm, cargo-test
